.features {
  justify-content: center;

  @media screen and (min-width:1200px) {
    padding-top: 94px;
  }

  // @media screen and (max-width:1199px) {
  //   padding: 60px 0px;
  // }

  &__container {
    @extend %wrapper-center;
    display: block;
    padding: 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 1200px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    color: $grey-text;

    @media screen and (min-width: 480px) and (max-width: 767px) {
      flex-direction: column;
    }

    // @media screen and (min-width: 768px) {
    //   flex-direction: row;
    // }

    @media screen and (max-width:1199px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    // @media screen and (min-width:1200px) {
    //   flex-direction: row;
    // }
  }

  &__item {
    display: block;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    @media screen and (max-width: 767px) {
      width: calc((100% - 2 * 15px) / 1);
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 8 * 15px) / 4);
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

  }
  &__thumb {
    display: flex;
    max-width: 100%;
    height: 120px;
    background-color: $button-bg-non-active;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__title {
    @extend %title3;

    @media screen and (max-width:767px) {
      text-align: center;
    }
  }

  &__text {
    list-style: none;
    margin: 0px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  @media screen and (min-width:1200px) {
    &__text :not(:first-child) {
      margin-left: 30px;
    }
  }
}

/* .icon-antenna::before {
  display: block;
  height: 120px;
  content: "";
  background-color: $non-active;
  background-image: url("../images/svg/antenna.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-clock::before {
  display: block;
  height: 120px;
  content: "";
  background-color: $non-active;
  background-image: url("../images/svg/clock.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-diagram::before {
  display: block;
  height: 120px;
  content: "";
  background-color: $non-active;
  background-image: url("../images/svg/diagram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

 .icon-astronaut::before {
  display: block;
  height: 120px;
  content: "";
  background-color: $non-active;
  background-image: url("../images/svg/astronaut.svg");
  background-repeat: no-repeat;
  background-position: center;
} */

