.footer {
  background-color: $elements-grey;
  color: $whiteColor;
  padding: 60px 15px;

  &__container {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  &__logo--accent {
    color: $whiteColor;
    padding: 0px;
  }

  &__address {
    font-family: 'Roboto', sans-serif;
    color: $whiteColor;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    padding-top: 20px;
  }

  &__link {
    color: $grey-text;
  }

  &__text {
    @extend %footer-header;
    margin: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
  }

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: $non-active;
    justify-content: start;
    align-items: start;
    align-content: start;
    padding-top: 20px;
  }
}