.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $elements-grey;
  max-width: 1600px;
  max-height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
  ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  
  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
     background-image: url(../images/herox2.jpg);
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 696px;
    padding-bottom: 200px;
  }

  &__title{
    display: block;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    padding-top: 200px;
    margin: 0px;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $whiteColor;
  }

  &__btn:active {
    transform: translateY(-1px);
  }
  &__btn {
    @extend %button;
    transition-property: color, transform, scale;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;
  }

  &__btn:hover,
  &__btn:focus {
    transform: scale(0.9);
    cursor: pointer;
  }
}

