.team {
  @extend %wrapper-center;
  background-color: $button-bg-non-active;
  

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }

  @media screen and (max-width: 1199px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  &__container {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    @extend %wrapper-center;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    

    @media screen and (max-width: 479px) {
      justify-content: center;
      flex-direction: column;
    }

    @media screen and (min-width: 480px) and (max-width: 1199px){
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $whiteColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    max-width: 450px;

    @media screen and (max-width: 767px) {
      width: calc((100% - 2 * 15px) / 1);
      &:not(:first-child) {
        margin-top: 30px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 8 * 15px) / 4);
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $black-text;
    padding-top: 30px;
    margin: 0px;
  }

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 16px;
    padding-top: 10px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $grey-text;
    margin: 0px;
  }
}