body{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

* {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

%link {
  text-decoration: none;
  color: inherit;
}

%button {
  display: flex;
  width: 200px;
  height: 50px;
  color: $whiteColor;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  outline: none;
  border: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  background-color: $accentColor;
  padding: 0px;
  margin: 0;
  cursor: pointer;
}

%footer-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $whiteColor;
}

%wrapper-center {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

%title3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $black-text;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.section__title {
  display: block;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 28px;
  line-height: 33px;
  color: $black-text;
  margin: 0px;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 42px;
  }
}

@mixin transition ($property...) {
  transition-property: $property;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


