  $black-logo: #000000;
  $black-text: #212121;
  $whiteColor: #ffffff;
  $grey-text: #757575;
  $elements-grey: #2F303A;
  $button-bg-non-active: #F5F4FA;
  $accentColor: #2196F3;
  $non-active: #AFB1B8;
  $timing-function: cubic-bezier(0.4, 0, 0.2, 1);